
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}
header {
    display:flex;
    grid-column: 1/-1;
    justify-content: space-between;
}
nav {
    padding: 0.5rem;
    background-color: #dcdc39;
    background-color: #086cb4;
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    grid-column: 1/-1;
}


nav, .nav, .menu {
    display: flex;
    justify-content:center;
    align-items:center;
}

.nav {
    position: relative;
    background-color: #fff;
    padding: 2.5rem;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

.menu {
    width: 0;
    overflow: hidden;
    transition: 0.5s;
    
}

.nav input:checked ~ .menu {
    width: 45rem;
}

.menu li {
    list-style: none;
    margin: 0 0.8rem;
    display: flex;
    align-content: center;
    text-align: center;
}

.menu li a {
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

.menu li a:hover {
    color: #161919;
}

.nav input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.nav span {
    position: absolute;
    left: 2.8rem;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #666;
    pointer-events: none;
    transition: 0.5s;
}
.nav span:nth-child(2) {
    transform: translateY(-8px);
}
.nav span:nth-child(3) {
    transform: translateY(8px);
}

 /* CARRUSEL DE IMAGENES */


 .carrousel{
    width: 100%;
    grid-column: 1/-1;
    grid-row: 3/6;

}

.conteCarrousel{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
}

.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
}

#itemCarrousel-1{
    background-color: rgb(226, 50, 50);
}

#itemCarrousel-2{
    background-color: rgb(50, 200, 226);
}

#itemCarrousel-3{
    background-color: rgb(200, 226, 50);
}

.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.conteCarrouselController > a{
    text-decoration: none;
    font-size: 2em;
    color: grey;
}

.itemCarrouselArrows > a > i{
    color: white;
}

/* FIN CARRUSEL DE IMAGENES */





@media (max-width:468px) {
    

    .menu li:nth-child(2) {
        display: none;
    }

    .nav input:checked ~ span {
        background-color: #f974a1;
    }
    
    .nav span:nth-child(2) {
        transform: translateY(-8px);
    }
    
    .nav input:checked ~ span:nth-child(2) {
        transform: translateY(0) rotate(-45deg);
    }
    .nav span:nth-child(3) {
        transform: translateY(8px);
    }
    
    .nav input:checked ~ span:nth-child(3) {
        transform: translateY(0) rotate(45deg);
        
    }
}

@media (min-width:468px) {
    
}